@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ErrorModel
@{
    ViewData["Title"] = Localizer["Error"];
}

<h1 class="text-danger">@Localizer["Error"]</h1>
<h2 class="text-danger">@Localizer["An error occurred"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["Request ID"]:</strong> <code>@Model.RequestId</code>
    </p>
}
