@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-left">
    <h1 class="display-4">@Localizer["Welcome"]!</h1>
    <h3>@Localizer["Instruction"]</h3>
    <p>
        @Localizer["Instruction Text"]
    </p>
</div>
