@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-left">
    <h1 class="display-4">Welcome!</h1>
    <h3>Instruction</h3>
    <p>
        1. Открыть страницу <b>Люди</b> вверху.  <br/>
        2. Записать значения <b>Имя, Фамилия</b> (оба поля обязательны). <br />
        3. Нажать на кнопку <b>Добавить запись в базу</b>. <br />
        Если хотя бы одно поле будет пустым, то программа не даст сохранить запись, так как оба поля обязательны. <br />
        После сохранения обновится страница, загрузятся данные с уже добавленными значениями. <br />
    </p>
</div>
