<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        internalLogLevel="Info">

    <extensions>
      <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
      <target name="logTestFile" xsi:type="File" 
              fileName="${basedir}/logs/logfile.txt"
              keepFileOpen="true"
              encoding="utf-8" />
      <target name="EFLogFile" xsi:type="File" 
              fileName="${basedir}/logs/eflogfile.txt"
              keepFileOpen="true"
              encoding="utf-8"/>
    </targets>

    <rules>
      <logger name="TestForOnlyOffice.*" minlevel="Trace" writeTo="logTestFile" />
      <logger name="Microsoft.Hosting.*" minlevel="Trace" writeTo="logTestFile" />
      <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Trace" writeTo="EFLogFile" />
    </rules>
  </nlog>

</configuration>